TestCases/
Release*/
Debug*/
build/
build*
html/
cmake-build*/
Release+Asserts/
Debug+Asserts/
autoconf/
tests/result/
doxygen/
.vscode/*
.*
!.gitignore
*~
*.o
*.out
*.ll
*.bc
*.opt
*.log
*.status
*.bc
*.dot
log.current
races.json
