/* fonts */
@font-face {
    font-family: 'DMSans';
    src: url(fonts/DMSans-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url(fonts/IBMPlexSans-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url(fonts/Inconsolata-Regular.ttf) format('truetype');
    font-weight: normal;
}

/* some default setting */
body {
    margin: 0;
}

pre {
    margin: 0;
}

code {
    font-family: 'Inconsolata';
}

/* commonly used class */
.hide {
    display: none;
}

.flex-container {
    display: flex;
    align-items: center;
}

.label {
    font-family: 'DMSans';
    font-size: 30px;
    display: block;
    font-weight: bold;
}

.raw-anchor {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.go-top {
    position: fixed;
    right: 30px;
    bottom: 100px;
    cursor: pointer;
    transition: transform 0.2s;
}

.go-top img {
    width: 70px;
}

.go-top:hover {
    transform: scale(1.03);
}

.go-top:active {
    transform: scale(0.98);
}

/* style for report.html */
/* Nav bar */
.header {
    position: relative;
}

.logo {
    width: 150px;
    margin-left: 150px;
}

.nav-btn {
    font-family: 'DMSans', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 0;
    padding: 33px 15px 0 15px;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

}

.nav-btn:hover {
    background-color: rgba( 0, 0, 0, 0.07);
}

.nav-btn:active {
    background-color: rgba( 0, 0, 0, 0.11);
}

.nav-filter {
    right: 250px;
}

.nav-questions {
    right: 100px;
}

/* Report Summary */
.summary,
.index {
    font-family: 'DMSans', sans-serif;
    width: 100%;
    height: 580px;
    background-color: #CFF0EE;
    position: relative;
}

.summary-title {
    font-size: 78px;
    display: inline-block;
    margin-top: 140px;
    margin-left: 185px;
}

.summary-title-text {
    line-height: 78px;
    text-shadow: 3px 4px 6px rgba( 0, 0, 0, 0.15);
    font-weight: bold;
}

.summary-content {
    position: absolute;
    left: 60%;
    top: 160px;
}

.summary-content-title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 12px;
}

.summary-content-text,
.index-content-text {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 12px;
}

.summary-content-text span {
    font-weight: normal;
}

/* index page */
.index {
    height: 388px;
    text-align: center;
}

.index-title {
    font-size: 78px;
    margin: auto;
    padding-top: 80px;
}

.index-content-title {
    font-size: 32px;
    line-height: 42px;
    margin-top: 50px;
    margin-bottom: 14px;
}

.index-content-body {
    display: inline-block;
    margin: auto;
    text-align: left;
}

.report-list {
    margin: auto;
    margin-top: 100px;
    width: 70%;
}

.report-entry {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
    border-radius: 8px;
    font-size: 26px;
    color: black;
    transition: color 0.3s;
}

.report-entry-no-race {
    cursor: default;
}

.report-entry:nth-child(odd) {
    background-color: #F1F1F1;
}

.report-entry:nth-child(even) {
    background-color: white;
}

.proj-name {
    font-family: "DMSans";
    position: absolute;
    top: 13px;
    left: 25px;
}

.proj-race-no {
    font-family: "IBMPlexSans";
    position: absolute;
    top: 13px;
    right: 103px;
    color: #757575;
    transition: color 0.3s;
}

.proj-link {
    display: none;
    width: 24px;
    position: absolute;
    right: 35px;
    top: 19px;
}

.report-entry:hover {
    color: #C90000;
}

.report-entry:hover .proj-race-no{
    color: #C90000;
}

.report-entry:hover .proj-link {
    display: inline;
}

.race,
.mismatchedAPI {
    margin: auto;
    margin-top: 50px;
    width: 70%;
}

.race-header {
    font-family: 'DMSans';
    font-size: 40px;
    margin: auto;
    padding: 10px;
    padding-bottom: 0;
}

.race-no {
    margin-right: 20px;
}

.race-toggle {
    width: 30px;
    border-radius: 15px;
    margin-left: 20px;
    box-shadow: 2px 2px 4px 0px rgba( 0, 0, 0, 0.20);
    cursor: pointer;
    transition: transform 0.2s;
}

.race-show {
    transform: rotate(180deg);
}

.race-hide:hover {
    transform: scale(1.3,1.3);
}

.race-show:hover{
    transform: rotate(180deg) scale(1.3,1.3);
}

.separator {
    display: inline-block;
    border: 3px solid #006834;
    margin: auto;
    flex-grow: 1;
}

.explanation {
    font-family: 'IBMPlexSans';
    font-size: 20px;
    display: block;
    max-width: 700px;
    word-wrap: break-word;
    margin-bottom: 5px;
}

/* only used for some special Mismatched API report */
.error-msg2 {
    margin-top: 10px;
}

.source-info,
.filepath{
    font-family: 'IBMPlexSans';
    color: #139F97;
    display: inline-block;
    max-width: 100%;
    overflow-wrap: break-word;
}

.race-body {
    padding: 10px;
    padding-top: 0;
}

.source-line {
    position: relative;
}

.code-snippet {
    background: #F1F1F1;
    padding: 8px 15px;
    box-sizing: border-box;
    margin-top: 5px;
    border-radius: 8px;
    overflow-x: scroll;
    scrollbar-width: none;
}


.code-snippet::-webkit-scrollbar {
    display: none;
}

.code-snippet pre {
    display: inline-block;
    position: relative;
}

.code-snippet:hover .filter-toggle {
    opacity: 1;
    visibility: visible;
}

/* .race-stacktrace {
    height: 100%;
} */

.stacktrace-func-name {
    position: relative;
}

.make-jeff-happy {
    position: relative;
}

.make-jeff-happy:hover .filter-function-toggle {
    opacity: 1;
    visibility: visible;
}

.race-thread-src2 {
    margin-left: 5px;
}

.race-code-snippet1,
.race-stacktrace1 {
    margin-right: 5px;
}

.race-code-snippet2,
.race-stacktrace2 {
    margin-left: 5px;
}

.race-code-snippet1>.filter-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.race-code-snippet2>.filter-toggle {
    position: absolute;
    top: 15px;
    right: 10px;

}

.race-stacktrace1>.filter-toggle,
.race-stacktrace2>.filter-toggle {
    position: absolute;
    top: 5px;
    right: 5px;
}

.thread-table {
    width: 100%;
    table-layout: fixed;
}

.thread-row {
    display: flex;
}

.thread-cell {
    display: inline-block;
    width: 50%;
    max-width: 50%;
}

.thread-cell-full {
    display: inline-block;
    width: 100%;
    /* max-width: 50%; */
}

.code-snippet-cell {
    position: relative;
    border-bottom: 10px solid transparent;
}


.race-threads {
    margin-top: 10px;
}

.mismatchedAPI-row {
    margin-bottom: 15px;
}

/* re-format modal */
.modal {
    max-width: 750px;
    border-radius: 0;
    box-shadow: 6px 6px 18px 5px rgba(0, 0, 0, 0.25);
}

/* filter */
.filter-toggle,
.filter-function-toggle {
    font-family: "IBMPlexSans";
    font-size: 13px;
    color: white;
    background-color: #006834;
    padding: 0 6px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
    visibility: hidden;
    text-decoration: none;
    border-radius: 13px;
    z-index: 1;
}

.filter-toggle {
    float: right;
}

.filter-toggle:active {
    opacity: 0.5 !important;
}

/* filter range */
.race-source-line:hover::before {
    content: " ";
    background-color: rgba(0, 125, 63, 0.20);
    width: auto;
    display: inline-block;
    height: 17px;
    position: absolute;
    left: 10px;
    right: 110px;
    top: 9px;
    border-radius: 4px;
}

.race-code-snippet:hover::before {
    content: " ";
    background-color: rgba(0, 125, 63, 0.20);
    width: auto;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 14px;
    bottom: 5px;
    left: 10px;
    border-radius: 4px;
}

.make-jeff-happy:hover::before {
    content: " ";
    background-color: rgba(0, 125, 63, 0.20);
    width: auto;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 90px;
    bottom: 0;
    left: 0;
    border-radius: 4px;
}

.race-code-snippet2:hover::before {
    left: 15px;
    right: 9px;
}

/* feedback form */
.feedback {
    padding: 0;
    margin: 0;
    text-align: center;
}

.feedback-email {
    width: 626px;
    height: 40px;
    background-color: #F1F1F1;
    border: none;
    border-radius: 8px;
    margin-top: 50px;
    font-size: 20px;
    padding: 0 15px
}

.feedback-comment {
    width: 626px;
    height: 250px;
    background-color: #F1F1F1;
    border: none;
    margin-top: 22px;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px 15px
}

.feedback-submit {
    padding: 0;
    margin: 0;
    background-color: #006834;
    border: none;
    color: white;
    width: 105px;
    height: 37px;
    border-radius: 33px;
    font-size: 22px;
    vertical-align: top;
    margin-right: 50px;
    cursor: pointer;
}

.feedback-title {
    font-family: "DMSans";
    font-size: 36px;
    font-weight: bold;
    margin-top: 38px;
}

/* filter select modal */
.filter-select {
    padding: 0;
}

.filter-select-header {
    font-family: "DMSans";
    font-weight: bold;
    font-size: 36px;
    margin: auto;
    padding-top: 38px;
    text-align: center;
}

.filter-select-body {
    margin: 0 15px;
}

.filter-instruction {
    font-family: "IBMPlexSans";
    font-size: 18px;
    margin-bottom: 18px;
    text-align: center;
}

.filter-options {
    display: flex;
    justify-content: space-around;
}

.filter-option-item {
    display: inline-block;
    background-color: #E9E9E9;
    width: 222;
    height: 222;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
}

.filter-option-item:hover {
    transform: scale(1.03);
}

.filter-option-item:active {
    transform: scale(0.98);
}

.checkmark-checked {
    width: 34px;
    height: 34px;
    border-radius: 17px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: -17px;
    right: 94px;
}

.checkmark-unchecked {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-color: #E9E9E9;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: -17px;
    right: 94px;
}

.filter-option-item.selected {
    display: inline-block;
    background-color: rgba(0, 125, 63, 0.21);
    width: 222;
    height: 222;
    border-radius: 8px;
}

.filter-option-item.selected .checkmark-unchecked {
    display: none;
}

.filter-name {
    font-family: "IBMPlexSans";
    font-size: 16px;
    text-align: center;
    margin-top: 38px;
}

.filter-name input {
    display: none;
}

.filter-content {
    font-family: "Inconsolata";
    font-size: 28px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-hint {
    font-family: "IBMPlexSans";
    font-size: 13px;
    width: 180px;
    margin: auto;
    margin-top: 20px;
}

.feedback-btns,
.filter-btns {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.filter-save,
.filter-close {
    font-family: "IBMPlexSans";
    font-weight: bold;
    width: 105px;
    height: 37px;
    border-radius: 33px;
    font-size: 20px;
    color: white;
    transition: transform 0.2s;
}

.feedback-submit:hover,
.filter-save:hover,
.filter-close:hover {
    transform: scale(1.03);
}

.feedback-submit:active,
.filter-save:active,
.filter-close:active {
    transform: scale(0.98);
}

.filter-save>span,
.filter-close>span {
    position: relative;
    top: 4px;
}

.filter-save {
    background-color: #006834;
    margin-right: 50px;
}

.filter-close {
    background-color: #C2C2C2;
}

.filter-result {
    margin-top: 20px;
}

.note {
    margin-bottom: 5px;
    font-family: "IBMPlexSans";
    font-size: 18px;
}

.note-top {
    margin-top: 30px;
}

.note-bot {
    margin-bottom: 30px;
}

#config {
    border-radius: 8px;
}

/* Differential mode */
.view-mode {
    font-family: "IBMPlexSans";
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.view-selection {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
}

.view-selection-btn {
    display: inline-block;
    padding: 7px 20px;
    border: 3px solid #C1C1C1;
    color: #C1C1C1;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 30px;
    transition: transform 0.2s;
}

.view-selection-btn.selected {
    border-color: black;
    color: black;
}

.view-selection-btn:hover {
    transform: scale(1.02);
}

.view-selection-btn:active {
    transform: scale(0.98);
}

.git-commit {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 10px;
}

.diff-summary {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    display: none;
    color: cornflowerblue;
}

.inline-code {
    font-family: "Inconsolata";
    background-color: antiquewhite;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    padding: 7px;
}

/* TODO: */
.toast-message {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.filter-inline {
    margin-top: 30px;
    margin-bottom: 15px;
}

.filter-group {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
}

.pretty {
    margin-right: 0;
}

#vs {
    max-width: 90%;
    height: 100%;
}

#editor {
    position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0;
	overflow: hidden;
}