@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@font-face {
  font-family: 'Bicyclette';
  src: url("./fonts/Bicyclette-Regular.woff") format('woff');
}
@font-face {
  font-family: 'Bicyclette-Bold';
  src: url("./fonts/Bicyclette-Bold.woff") format('woff');
}
@font-face {
  font-family: 'Jet-Icons';
  src: url("./fonts/JetIcons-Regular.woff") format('woff');
}

/* General styling & root variables */
:root {
  /* Colors */
  --black: #444444;
  --dark-grey: #949494;
  --grey: #d8dfec;
  --light-grey: #e1e7f1;
	--white: #e5ebf4;
	--jet-green: #3d9e83; /* brand: 53bd9f */
	--jet-blue: #278db6; /* brand: 32a5d3 */
  --success: #53bd9f;
  --failure: #ec6a69;

  --input-color: rgba(26, 73, 94, 0.7);
  --gradient: linear-gradient(135deg, var(--jet-green) 25%, var(--jet-blue) 85%);

  /* Base shadow elements */
  --light-shadow: rgb(255, 255, 255);
  --dark-shadow: rgb(175, 186, 214);

  /* Regular neu shadows */
  --neu-shadow: -1.75px -1.75px 3.5px var(--light-shadow), 1.75px 1.75px 3.5px var(--dark-shadow);
  
  /* Inset neu shadows */
  --neu-shadow-inset-low: inset -1px -1px 1.5px var(--light-shadow), inset 1px 1px 1.5px var(--dark-shadow);
  --neu-shadow-inset: inset -1.5px -1.5px 2px var(--light-shadow), inset 1.5px 1.5px 2px var(--dark-shadow);

  /* Datatable neu shadows */
  --neu--datatable-top-shadow: -2.5px 0px 3.5px var(--light-shadow), 2px 1.5px 3.5px var(--dark-shadow);
  --neu--datatable-bottom-shadow: -3px 0px 2px var(--light-shadow), 1.5px 2.5px 3.5px var(--dark-shadow);
  --neu-datatable-inset-shadow: inset -1px -1px 1px var(--light-shadow), inset 1px 1px 1px var(--dark-shadow) !important;
  --neu-datatable-shadow: inset -1px -1px 1px var(--dark-shadow), inset 1px 1px 1px var(--light-shadow) !important;

  /* Color neu shadows */
  --neu-shadow-inset-success: inset -2px -2px 2px #78d6bb, inset 2px 2px 2px #28866c;
  --neu-shadow-inset-failure: inset -2px -2px 2px #f58d8d, inset 2px 2px 2px #c94646;
  --neu-shadow-inset-gradient: inset -2px -2px 2.5px #36a3ce, inset 2px 2px 2.5px #28866c;
  --neu-shadow-inset-gradient-low: inset -1.5px -1.5px 2px #36a3ce, inset 1.5px 1.5px 2px #28866c;

  /* Drop shadow */
  --drop-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);

  /* Disabled elements */
  --disabled-opacity: 0.85;

  /* Nav sizing */
  --nav-width: 60px;
  --mobile-nav-height: 60px;

  /* Standardized spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 18px;
  --spacing-xl: 24px;

  /* Border variables */
  --border-radius: 20px;
  --round-radius: 50px;

  /* Button variables */
  --btn-radius: 7px;
  --btn-padding: 7px 20px 5px 20px;
  --secondary-btn-padding: 7px 10px 5px 10px;

  /* Slider variables */
  --range-slider-bg: rgba(255, 255, 255, 0.25);
  --range-slider: var(--white);
  --range-handle-inactive: var(--white);
  --range-handle: var(--white);
  --range-handle-focus: var(--white);
  --range-handle-border: var(--jet-green);
  --range-float-text: var(--black);
}
::-webkit-scrollbar {
  display: none !important;
}
body {
  position: relative;
	margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	background: var(--white);
	color: var(--black);
	overflow-x: hidden;
  letter-spacing: 0.25px;
  width: calc(100% - var(--nav-width));
  min-height: calc(100vh - 30px);
  padding-bottom: 30px;
  margin-left: var(--nav-width);
}

/* Text */
h1, h2, p, th, td, span {
  position: relative;
	margin: unset;
	text-decoration: none;
	color: var(--black);
  opacity: 0.9;
  font-size: 16px;
}
a, i {
  text-decoration: none;
  margin: var(--spacing-xs);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-style: normal;
}
span {
  opacity: 0.85;
  font-size: 14px;
  text-align: center;
  max-width: 400px;
}
*:focus-visible {
  outline: unset;
}
.text-gradient {
  opacity: 1 !important;
  background-image: var(--gradient) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}
.disabled {
  cursor: not-allowed !important;
  opacity: var(--disabled-opacity) !important;
}
.bicyclette {
  font-family: 'Bicyclette', 'Roboto', sans-serif;
}
.bicyclette-bold {
  font-family: 'Bicyclette-Bold', 'Roboto', sans-serif;
}
.jet-icons {
  font-family: 'Jet-Icons';
  font-size: 27px;
}
.bold-text {
  font-weight: 600;
}

/* Flexbox */
.flex {
	display: flex;
}
.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-center {
	align-items: center;
}
.align-evenly {
	align-items: space-evenly;
}
.align-between {
	align-items: space-between;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.justify-center {
	justify-content: center;
}
.justify-evenly {
	justify-content: space-evenly;
}
.justify-between {
	justify-content: space-between;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.column {
	flex-direction: column;
}

/* Inputs */
input {
  width: 100%;
  padding: var(--spacing-md) var(--spacing-lg);
  margin: var(--spacing-xs) 0;
  box-shadow: var(--neu-shadow-inset-low);
  background: var(--white);
  color: var(--input-color);
  font-size: 13px;
  border: none;
  border-radius: 50px;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}
input::placeholder {
  opacity: var(--disabled-opacity);
}
input:focus {
  box-shadow: var(--neu-shadow-inset-low);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* Views */
.view-container {
	width: clamp(250px, 95%, 1200px);
  margin: 0 auto;
  padding: var(--spacing-xs);
}
.view-section {
  margin: var(--spacing-md) var(--spacing-lg);
}
.view-title {
  font-family: 'Bicyclette-Bold', 'Roboto', sans-serif; 
  font-size: 35px;
  letter-spacing: 5px;
  margin: var(--spacing-md) 0 0 0;
}
.view-header {
  font-family: 'Bicyclette-Bold', 'Roboto', sans-serif; 
  font-size: 90px;
  line-height: 105px;
  opacity: 1;
}
.view-header span {
  font-family: 'Bicyclette-Bold', 'Roboto', sans-serif; 
  font-size: 30px;
  line-height: 35px;
  position: absolute;
  top: 10px;
  opacity: 1;
}
.view-subheader {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 9px;
  opacity: 0.85;
}

/* Modals */
.modal-bg {
  width: calc(100% - var(--nav-width));
  height: 100%;
  position: fixed;
  top: 0;
  left: var(--nav-width);
  background: var(--white);
  opacity: 0.90;
  text-align: center;
}
.modal {
  position: fixed;
  top: 50%;
  left: calc(50% + var(--nav-width)/2);
  transform: translate(-50%, -50%);
  min-width: 275px;
  max-width: 700px;
  box-shadow: var(--neu-shadow);
  background: var(--white);
  border-radius: var(--border-radius);
}
.modal-section {
  margin: var(--spacing-xs) 0;
}
.modal-detail {
  width: 200px;
}
.modal-header {
  font-family: 'Bicyclette'; 
  font-size: 45px;
  line-height: 50px;
}
.modal-subheader {
  font-family: 'Bicyclette';
  font-size: 38px;
}
.modal .close {
  position: absolute;
  top: var(--spacing-md);
  right: var(--spacing-md);
  font-size: 15px;
  font-weight: 150;
  cursor: pointer;
  color: var(--black);
  opacity: var(--disabled-opacity);
}
.modal span {
  font-size: 12px;
}

/* Divider */
.divider {
  width: 98%;
  height: 3px;
  margin: var(--spacing-sm) 0;
  border-radius: var(--border-radius);
  box-shadow: var(--neu-shadow-inset-low);
}

/* Dropdown Select component overrides */
.dropdown-select {
  position: relative;
  width: 150px;
  margin: var(--spacing-xs) 0;
}
.dropdown-select input {
  box-shadow: var(--neu-shadow) !important;
  padding: 2px var(--spacing-md) !important;
  height: 30px !important;
  cursor: pointer !important;
  font-size: 14px !important;
}
.dropdown-select .selectedItem {
  font-size: 14px !important;
  padding: var(--spacing-sm) var(--spacing-sm) !important;
}
.dropdown-select .selectContainer {
  border: unset !important;
  background: var(--white) !important;
  padding: var(--spacing-xs) var(--spacing-sm) !important;
}
.dropdown-select .listContainer {
  width: 160px !important;
  box-shadow: var(--neu-shadow) !important;
  padding: unset!important;
  background: var(--white) !important;
  border-radius: var(--btn-radius) !important;
  overflow-y: scroll !important;
}
.dropdown-select .item {
  font-size: 14px !important;
  background: var(--white) !important;
  color: var(--black) !important;
  padding: 0 var(--spacing-lg) !important;
}
.dropdown-select .item:hover, .dropdown-select .item.hover {
  background: var(--gradient) !important;
  color: var(--white) !important;
  cursor: pointer !important;
}
.dropdown-select .clearSelect {
  display: none !important;
}
.dropdown-select i {
  position: absolute;
  top: 9px;
  right: 5px;
  opacity: var(--disabled-opacity);
}

/* Slider component overrides */
.rangeSlider {
  position: relative !important;
  width: 400px !important;
  height: 5px !important;
  margin-top: var(--spacing-sm) !important;
  margin-bottom: 35px !important;
  background: var(--range-slider-bg) !important;
  transition: unset !important;
}
.rangeBar {
  height: 5px !important;
  background: var(--white) !important;
}
.rangeFloat-suffix {
  opacity: 1 !important;
}
.rangeSlider .rangeHandle {
  width: 12px !important;
  height: 12px !important;
}
.rangeSlider .rangeHandle, .rangeSlider .rangeNub {
  opacity: 1 !important;
  transition: unset !important;
  cursor: pointer !important;
}
.rangeHandle:before {
  display: none !important;
}
.rangeSlider .pip {
  top: 0px !important;
  width: 0px !important;
}
.rangeSlider .pipVal, .rangeSlider .pipVal-suffix {
  opacity: 1 !important;
  color: var(--white) !important;
  font-size: 10px !important;
  font-weight: unset !important;
}
.rangeSlider .pipVal {
  top: 2px !important;
}
.rangeSlider.disabled, .rangeSlider.disabled .rangeNub {
  opacity: var(--disabled-opacity) !important;
  cursor: not-allowed !important;
}

/* Data tables */
table, th, td {
  background: var(--white);
  padding: var(--spacing-sm) var(--spacing-md);
  color: var(--black);
}
table {
  position: relative;
  width: 100%;
  border-radius: var(--border-radius);
  border-collapse: collapse;
}
th {
  min-width: 60px;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: var(--spacing-xs);
}
th:first-of-type {
  text-align: left;
  min-width: 100px;
}
th:last-of-type {
  min-width: unset;
}
tr {
  border-radius: var(--round-radius);
  cursor: pointer;
  transition: unset;
}
tr:hover {
  box-shadow: var(--neu-datatable-shadow);
  background: var(--grey);
}
tr.active {
  box-shadow: var(--neu-shadow-inset-low);
  background: var(--grey);
}
tr:active, tr.active:active {
  box-shadow: var(--neu-shadow-inset);
}
tr .cell-border-right {
  border-right: 1px solid var(--grey);
}
tr:hover .cell-border-right, tr.active .cell-border-right {
  border-right: 1px solid var(--white);
}
tr.table-spacer td {
  padding: calc(var(--spacing-xs) / 3) 0;
}
tr.table-spacer:first-of-type td {
  padding: var(--spacing-sm) 0;
}
tr.table-spacer:hover, tr.table-spacer:hover td {
  background: var(--white);
  box-shadow: unset;
  cursor: unset;
}
tr:hover .jet-icons {
  opacity: 1;
}
@-moz-document url-prefix() {
  tr:hover, tr.active {
    background: var(--white);
  }
}
td {
  position: relative;
  font-size: 15px;
  border-radius: unset;
  padding: var(--spacing-md);
  background: transparent;
  text-align: center;
  cursor: pointer;
}
td:first-of-type {
  padding-left: var(--spacing-lg);
  border-top-left-radius: var(--round-radius);
  border-bottom-left-radius: var(--round-radius);
  text-align: left;
}
td:last-of-type {
  padding-left: var(--spacing-lg);
  border-top-right-radius: var(--round-radius);
  border-bottom-right-radius: var(--round-radius);
}
td.text-gradient {
  padding-bottom: calc(var(--spacing-md) - 4px);
}
tbody tr .jet-icons {
  opacity: 0;
  margin-right: var(--spacing-lg);;
}
.table-search {
  width: 100%;
  position: relative;
}
.table-search input {
  padding: 10px 35px;
  background: var(--grey);
}
.table-search i {
  position: absolute;
  top: 10px;
  left: 9px;
  font-size: 15px;
  opacity: 0.85;
}
.table-divider {
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--gradient);
  margin: var(--spacing-xs) 0;
  z-index: 100;
  cursor: unset;
}
.table-divider:hover {
  box-shadow: unset;
  background: var(--gradient);
}
/* Market table */
.market-table {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: var(--neu--datatable-bottom-shadow);
  padding: var(--spacing-lg) var(--spacing-md);
}
.market-table .table-container {
  width: 100%;
  border-top: var(--spacing-xs) solid var(--white);
  overflow-x: scroll;
}
.market-table .reserve-detail {
  font-size: 12px;
  padding-bottom: 7px;
  font-family: 'Bicyclette-Bold', 'Poppins', sans-serif;
  text-transform: uppercase;
  opacity: 0.8;
  transition: opacity var(--transition);
}
.market-table .reserve-detail:hover {
  opacity: 1;
}
.market-table-asset span, .market-table-asset img {
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 45px;
}
.market-table-asset img {
  height: 25px;
  width: auto;
  left: 15px;
}
.market-table-asset span:first-of-type {
  top: 20px;
}
.market-table-asset span:last-of-type {
  opacity: var(--disabled-opacity);
  font-size: 10px;
  top: 34px;
}
.market-table .faucet {
  opacity: var(--disabled-opacity);
  transition: opacity var(--transition);
}
.market-table .faucet:hover {
  opacity: 1;
}
/* Datatable component overrides */
.datatable, .dt-table, .dt-table th, .dt-table td, .dt-table tbody, .dt-pagination {
  background: var(--white) !important;
  border: unset !important;
  border-bottom-left-radius: var(--border-radius) !important;
  border-bottom-right-radius: var(--border-radius) !important;
  padding: var(--spacing-sm) var(--spacing-md) !important;
  color: var(--black) !important;
}
.datatable {
  box-shadow: var(--neu--datatable-bottom-shadow) !important;
  padding: var(--spacing-lg) var(--spacing-sm) var(--spacing-xs) var(--spacing-sm) !important;
}
.dt-table {
  padding: var(--spacing-sm) !important;
  margin: unset !important;
  border-top: var(--spacing-xs) solid var(--white) !important;
}
.dt-table th {
  min-width: 60px !important;
  font-weight: bold !important;
  font-size: 10px !important;
  letter-spacing: 0.5px !important;
  text-transform: uppercase !important;
  border-radius: var(--border-radius) !important;
  text-align: center !important;
}
.dt-table th:first-of-type {
  text-align: left !important;
  min-width: 100px !important;
}
.dt-table th:last-of-type, .dt-table .native-toggle {
  min-width: unset !important;
}
.dt-table tr {
  border-radius: var(--round-radius) !important;
  cursor: pointer !important;
}
.dt-table tr td:first-of-type, .dt-table th:first-of-type {
  padding-left: var(--spacing-lg) !important;
}
.dt-table tr:hover {
  box-shadow: var(--neu-datatable-shadow) !important;
  background: var(--grey) !important;
}
.dt-table tr:active, .dt-table tr.active {
  box-shadow: var(--neu-datatable-inset-shadow) !important;
  background: var(--grey) !important;
}
/* fix for mozilla grey background overflow */
@-moz-document url-prefix() {
  .dt-table tr:hover, .dt-table tr.active {
    background: var(--white) !important;
  }
}  
.dt-table td {
  position: relative !important;
  font-size: 15px !important;
  border-radius: unset !important;
  padding: var(--spacing-md) !important;
  background: transparent !important;
  text-align: center !important;
  cursor: pointer !important;
}
.dt-table td:first-of-type {
  border-top-left-radius: var(--round-radius) !important;
  border-bottom-left-radius: var(--round-radius) !important;
  text-align: left !important;
}
.dt-table td:last-of-type {
  border-top-right-radius: var(--round-radius) !important;
  border-bottom-right-radius: var(--round-radius) !important;
}
.dt-table .reserve-detail {
  font-size: 12px !important;
  font-family: 'Bicyclette-Bold', 'Roboto', sans-serif;
  text-transform: uppercase;
  background-image: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  padding-bottom: calc(var(--spacing-md) - 4px) !important;
}
.dt-table td.text-gradient {
  font-size: 12px !important;
  font-weight: 500 !important;
  background-image: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  padding-bottom: calc(var(--spacing-md) - 4px) !important;
}
.dt-table .datatable-border-right {
  border-right: 1px solid var(--grey) !important;
}
.dt-table tr:hover .datatable-border-right, .dt-table tr.active .datatable-border-right {
  border-right: 1px solid var(--white) !important;
}
.dt-table .dt-asset span, .dt-table .dt-asset img {
  opacity: 1 !important;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  left: 45px !important;
}
.dt-table .dt-asset img {
  height: 25px !important;
  width: auto !important;
  left: 15px !important;
}
.dt-table .dt-asset span:first-of-type {
  top: 20px !important;
}
.dt-table .dt-asset span:last-of-type {
  opacity: var(--disabled-opacity) !important;
  font-size: 10px !important;
  top: 34px !important;
}
.datatable-spacer td {
  padding: calc(var(--spacing-xs) / 3) 0 !important;
}
.dt-table tr.datatable-spacer:hover, .datatable-spacer:hover td {
  background: var(--white) !important;
}
.dt-table tr .jet-icons {
  opacity: 0 !important;
  margin-right: var(--spacing-lg) !important;;
}
.dt-table tr:hover .jet-icons {
  opacity: 1 !important;
}
.dt-table .faucet {
  opacity: var(--disabled-opacity) !important;
}
.dt-table .faucet:hover {
  opacity: 1 !important;
}
.dt-table .info {
  opacity: var(--disabled-opacity) !important;
  cursor: pointer !important;
  margin-left: 0px !important;
}
.dt-table .info:hover {
  opacity: 1 !important;
}
.dt-table .dt-balance {
  opacity: 1 !important;
  background-image: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.dt-table .dt-bold {
  font-weight: 500 !important;
}
.dt-pagination-buttons button {
  color: var(--black) !important;
  background: var(--white) !important;
  border-color: var(--white) !important;
  min-width: 20px !important;
  font-weight: bold !important;
  transition: unset !important;
  border-radius: var(--btn-radius) !important;
}
.dt-pagination-buttons .active {
  box-shadow: var(--neu-shadow-inset-low) !important;
}
.dt-pagination-rowcount {
  color: var(--black) !important;
  background: unset !important;
}
.datatable .search {
  position: absolute !important;
  top: 23px !important;
  left: 24px !important;
  padding-left: 1px !important;
  font-size: 15px !important;
  opacity: 0.85 !important;
}
.dt-search {
  margin-left: var(--spacing-sm) !important;
  width: calc(100% - (var(--spacing-sm) * 2)) !important;
  overflow: hidden !important;
  border-radius: var(--border-radius) !important;
  box-shadow: var(--neu-shadow-inset-low) !important;
  background: var(--grey) !important;
}
.dt-search input {
  margin: -1px 0 0 -5px !important;
  line-height: 25px !important;
  width: 100% !important;
  padding: calc(var(--spacing-xs) * 1.25) var(--spacing-lg) var(--spacing-xs) calc(var(--spacing-lg) * 2.25) !important;
  border: none !important;
  color: var(--input-color) !important;
  font-size: 13px !important;
  box-shadow: unset !important;
}
.datatable-divider {
  width: 2000% !important;
  height: 1px !important;
  background: var(--gradient) !important;
  margin: var(--spacing-xs) 0 !important;
  padding: unset !important;
}
/* Transaction Logs datatable overrides */
.transaction-logs .datatable {
  padding: unset !important;
  box-shadow: unset !important;
}
.transaction-logs .dt-table th {
  padding-top: unset !important;
  padding-bottom: unset !important;
}
.transaction-logs .datatable-divider {
  margin-top: unset !important;
}
.transaction-logs .dt-table td, .transaction-logs .dt-table th {
  min-width: 90px !important;
}
.transaction-logs .dt-table td:last-of-type, .transaction-logs .dt-table th:last-of-type {
  min-width: 30px !important;
}
.transaction-logs .dt-table td.asset, .transaction-logs .dt-table th.asset {
  min-width: 150px !important;
}
.transaction-logs .dt-table tr:hover {
  box-shadow: var(--neu-datatable-shadow) !important;
}
.transaction-logs .dt-table tr:active {
  box-shadow: var(--neu-datatable-inset-shadow) !important;
}
.transaction-logs .dt-table tr .jet-icons {
  margin-right: unset !important;
}
.transaction-logs .dt-table tr.datatable-spacer:hover, .transaction-logs .datatable-spacer:hover td {
  background: var(--white) !important;
  box-shadow: unset !important;
}
.transaction-logs .dt-pagination {
  position: absolute !important;
  bottom: -80px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
.transaction-logs aside b {
  font-weight: unset !important;
}
.transaction-logs .dt-pagination-buttons button {
  color: var(--jet-green) !important;
}
.transaction-logs .dt-pagination-buttons button:first-of-type, .transaction-logs .dt-pagination-buttons button:last-of-type {
  display: none;
}

/* Tablet/Mobile styling */
@media screen and (max-width: 600px) {
  body {
    width: 100%;
    min-height: calc((var(--vh, 1vh) * 100) - var(--mobile-nav-height));
    margin-bottom: calc(var(--mobile-nav-height) + var(--spacing-sm));
	  margin-left: 0;
  }
  .view-container {
    width: clamp(250px, 90%, 1000px);
    padding-bottom: var(--spacing-sm);
  }
  .view-section {
    margin: var(--spacing-sm);
  }
  .view-top {
    flex-direction: column;
    align-items: flex-start;
  }
  .view-title {
    font-size: 20px;
  }
  .view-header {
    font-size: 40px;
    line-height: 40px;
  }
  .view-header span {
    font-size: 20px;
    line-height: 10px;
  }
  .modal-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - var(--mobile-nav-height));
  }
  .modal {
    position: fixed;
    left: 50%;
  }
  .modal .close {
    right: var(--spacing-lg);
  }
  .modal-section {
    flex-direction: column;
  }
  .modal-header {
    font-size: 30px;
    line-height: 38px;
  }
  .modal-subheader {
    font-size: 20px;
  }
  .modal span {
    font-size: 10px;
    margin: var(--spacing-sm) 0;
  }
  .rangeSlider {
    width: 225px !important;
  }
  .rangeHandle {
    top: 3px !important;
  }
  .market-table .reserve-detail {
    padding-bottom: 10px;
  }
  .market-table-asset span {
    display: none;
  }
  td {
    font-size: 12px;
  }
  th, .reserve-detail {
    font-size: 9px;
  }
  th:first-of-type {
    min-width: unset;
  }
  .transaction-logs .dt-table td, .transaction-logs .dt-table th, .transaction-logs .dt-table td:last-of-type, .transaction-logs .dt-table th:last-of-type, .transaction-logs .dt-table td.asset, .transaction-logs .dt-table th.asset {
    min-width: unset !important;
  }
  .transaction-logs td {
    font-weight: 11px !important;
  }
  .transaction-logs .dt-pagination-rowcount {
    min-width: 50px !important;
  }
}